@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,500&display=swap");
$yellow: #f8c100;
$black: #191919;
$blue: #0d3cc0;
$grey: #1e1e1e;
body {
  background-color: $black;
  overflow-x: hidden;
}

.App {
  color: white;
}
h2 {
  font-family: "Poppins", sans-serif !important;
  font-size: 2em !important;
  margin-bottom: 3px !important;
  font-weight: 800 !important;
  line-height: 40px !important;
}
p {
  font-family: "DM Sans", sans-serif !important;
  font-size: 1em !important;
  line-height: 22px !important;
  font-weight: 400 !important;
}
h3 {
  font-family: "DM Sans", sans-serif !important;
  color: #cccccc;
  margin-top: 5px !important;
  margin-top: 5px !important;
}
.numberCircle {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  font-family: "DM Sans", sans-serif !important;
  font-size: 1.1em !important;
  border: 3px solid $yellow;
  text-align: center;
  padding-top: 7px;
}
.iconsrow {
  margin-top: 1em;
  margin-bottom: 1em;
  display: flex;
  flex-direction: row;
  margin-top: 1em;
  align-items: center;
  justify-content: space-around;
}
.movietagline {
  font-size: 1.4em !important;
  margin-top: 3px;
  margin-bottom: 13px;
  color: #e0e0e0;
  font-family: "DM Sans", sans-serif;
  font-weight: medium;
}
.eyeGroup,
.bookGroup,
.noteGroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.groupTitle {
  font-size: 0.9em !important;
  margin-top: 13px;
}
// MAX 992px (mobile/tablette)
@media screen and (max-width: 992px) {
  .moviescontainer {
    flex-direction: column;
  }
  .hero-poster img {
    max-width: 100vw;
    margin-left: 50%;
    transform: translateX(-50%);
  }
  img.icolink {
    height: 0.6em;
    margin-bottom: 10px;
    margin-left: 2px;
  }
  img.icobookmark,
  img.icoeye {
    height: 2.3em;
  }

  .movieposter {
    z-index: 1;
    position: absolute;
    height: 80vh;
  }
  .blackShadow {
    display: flex;
    z-index: 2;
    position: relative;
    width: 100vw;
    height: 85vh;
    background: linear-gradient(
      0deg,
      rgba(25, 25, 25, 1) 0%,
      rgba(25, 25, 25, 0) 100%
    );
  }
  h3 {
    margin-bottom: 15px !important;
  }
}

// MIN 962px (desktop)
@media screen and (min-width: 992px) {
  .moviescontainer {
    margin-left: 20px;
    display: flex;
    flex-direction: row-reverse;
  }
  img.movieposter {
    width: 50vw;
    height: 100vh;
    border-left: 5px solid rgba(13, 60, 192, 0.75);
  }
  .detailsContainer {
    display: flex;
    flex-direction: column;
    width: 80%;
  }
  img.icolink {
    height: 0.5em;
    margin-bottom: 10px;
    margin-left: 2px;
  }
  img.icobookmark,
  img.icoeye {
    height: 2.2em;
  }
  img.icoeye {
    margin-left: 1em;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
