@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap");
$yellow: #f8c100;
$black: #191919;
$blue: #0d3cc0;
$grey: #1e1e1e;
* {
  color: white;
}

body {
  margin: 0;
  padding: 0;
}

.footer {
  background-color: $grey;
  padding: 5px 0;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  max-width: 1440px;
  margin: auto;
  align-items: center;
}

.logo_footer,
.links,
.contact,
.text_footer {
  width: 33.33%;
}

.links,
.img_social {
  margin-top: 20px;
}
.img_social {
  height: 24px;
}
.links {
  display: flex;
  font-family: "DM Sans", sans-serif;
  justify-content: center;
}

.links p {
  padding-left: 15px;
  padding-right: 15px;
}

.contact {
  display: flex;
  justify-content: flex-end;
}

.contact img {
  margin-left: 15px;
}

.text_footer {
  text-align: center;
  font-family: "DM Sans", sans-serif;
  margin: auto;
}

.links_mobile {
  display: none;
}

@media (max-width: 750px) {
  .links {
    display: none;
  }
  .links_mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    p {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
  .container {
    margin-top: 10px;
  }
  .text_footer {
    width: 100%;
  }
}
